body {
  background-color: #ff0000;
}
.style {
  color: #ff0000;
  text-align: left;
}
input {
  text-align: left;
}
.box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.box10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}