$color: #ff0000;
$align: left;

body {
    background-color: $color;
}

.style {
    color: $color;
    text-align: $align;
}

input {
    text-align: $align;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(5px); }

.box10 { @include border-radius(10px); }